/* external css (외부 css) : css파일에 스타일코드 작성 */
/* css  주석 */

h1 {
    color: beige;
 background-color: salmon;
 }

 h2 {
    color: wheat;
    background-color: lightgreen;
 }

 p {
    color: lightseagreen;
 background-color: gray;
 }